body {
  background-image:url("../img/background.jpg");
  height: 100%;
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gametop_button{
  font-size:2em;
  text-align:right;
  font-weight: 100;
}

#share_best_streak{
  color: black;
}
.main_menu_button{
  background-color:rgba(0, 0, 0, 0.1);
}
.main_menu_button:hover {
  background-color:rgba(0, 0, 0, 0.3);
}

#main_menu_button_wrap{
  display:flex;
  flex-direction:column;
  align-items: stretch;
  padding-bottom:6em;
}

#char_box{
  width:100%;
  text-align:center;
  font-size:6em;
}
#answer_box{
  text-align:center;
  box-shadow: 0px;
  width:50%;
  font-size:2em;
  background-color:transparent;
  border-style:none;
  box-shadow: none;
}

.screen_card{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  align-content: center;
  background-color:whitesmoke;
  padding: 1em 1em 3em 1em;
}
.system_seperator{
  display: none;
  height: 0.1em;
  width:100%;
  background-color:black;
  margin-top:1em;
  margin-bottom:1em;
}

@media screen and (max-width: 39.9375em) {
  .screen_card{
    height:100vh;
    justify-content:flex-start;
  }
  .system_seperator{
    display: block;
  }
}


#main_menu{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  align-content: center;
}

.correct{
  background-color:lightgreen!important;
}
.wrong{
  background-color:lightsalmon!important;
}